---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
SortIncludes: true
AlignAfterOpenBracket: Align
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
Language: Cpp
Standard: c11
