---
Checks: '-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-clang-analyzer-core.NonNullParamChecker,-clang-analyzer-optin.performance.Padding,-clang-analyzer-deadcode.DeadStores,-clang-analyzer-core.CallAndMessage,-clang-analyzer-core.UndefinedBinaryOperatorResult,-clang-diagnostic-pointer-sign'
WarningsAsErrors: '*'
